<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <!-- debug switches were not found in programm -->
  <!-- compiler-flag for debugging not supported for f# ? -->
  <system.diagnostics>
    <switches>
      <add name="DataSwitch" value="0" />
      <add name="lqDebugLevel" value="Verbose" />
      <!--(0=Off|1=Error|2=Warning|3=Info|4=Verbose)-->
    </switches>
  </system.diagnostics>
</configuration>